---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for item in collections.all %}
{#- item.url is false for anything whose permalink was withheld (drafts, notes
    still being written), so it must never reach the sitemap. -#}
{%- if item.url and not item.data.excludeFromSitemap and not item.data.noindex %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | isoStamp }}</lastmod>
  </url>
{%- endif %}
{%- endfor %}
</urlset>
